@model IEnumerable<StoreFront.DATA.EF.Models.PokeBall>

@{
    ViewData["Title"] = "Pokeball";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New Pokeball</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PokeballName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PokeballName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                <img src="~/img/pokeball-img/t_@item.Image" class="img-fluid" alt="@item.Description" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PokeballId">Modify</a> |
                <a asp-action="Details" asp-route-id="@item.PokeballId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PokeballId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
