@model StoreFront.DATA.EF.Models.PokemonType

@{
    ViewData["Title"] = Model.Pokemon.PokemonName + " Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    @*<h4>PokemonType</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.PokemonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PokemonTypeId">Modify</a> |
    <a asp-action="Index">Back to Pokemon Types</a>
</div>
